#root {
  max-width: 1280px;
  padding: 2rem;
  margin: 0 auto;
  
}

.rotateX{
  transform: rotateX(180deg);
  transition-duration: 1000s;
  transition-delay: 1000s;
  transform-style: preserve-3d;
}